VITE_APP_URL=https://civicmitra2027.vercel.app/
VITE_FIREBASE_API_KEY=AIzaSyBbPzWNvrOxAvo8zbGBGDz_vDKoa8E9xac
VITE_FIREBASE_APP_ID=1:840731947258:web:249de47e29f2d4f0f75943
VITE_FIREBASE_AUTH_DOMAIN=gen-lang-client-0940566692.firebaseapp.com
VITE_FIREBASE_DATABASE_ID=(default)
VITE_FIREBASE_MESSAGING_SENDER_ID=840731947258
VITE_FIREBASE_PROJECT_ID=gen-lang-client-0940566692
VITE_FIREBASE_STORAGE_BUCKET=gen-lang-client-0940566692.firebasestorage.app

# Gemini API Key (Vite)
VITE_GEMINI_API_KEY=your_api_key_here
GEMINI_API_KEY=your_api_key_here
